# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Projects\Super-Mario-Java-2D-Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
